<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a routerLink="/">Home</a> </li>
        <li class="breadcrumb-item active"> Produtos </li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Produtos
        </h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">
            Novo produto
        </a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Produtos</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                <strong>{{product.nome}}</strong><br>
            </td>
            <td>
                <a [routerLink]="[product.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <a (click)="deleteProduct(product)" class="btn btn-outline-danger btn-sm">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>